.DS_Store
final.pro.*
*.o
final.pro.user
debug/
release/
build/
Makefile
Makefile.debug
Makefile.release
.qmake.*
final
fontconfig/*
moc_*
qrc_resources.cpp
object_script.final.Debug
object_script.final.Release
